{% extends "loan/base.html" %}

{% load static %}


{% block teaser %}
   We received your loan application. We will send you another email after we look at numbers.
{% endblock %}


{% block content %}

We received your loan application.
<br>
Your Requested Loan Amount is ${{ loan.loaned_amount }}.
<br>
Term: {{ loan.get_terms_month_display }}
<br>
APR: {{ loan.get_approval_prob_percent }}%
<br>
Total Loan Amount* is ${{ loan.total_loaned_amount }}
<br>
Total Collateral Amount is {{ loan.crypto_collateral }} {{ loan.get_crypto_type_display }} Bitcoin
<br>
Loan Maturity date is {{ loan.get_maturity_date }}.

<br>
<br>
<br>

Thank you for submitting your Loan Application. Your request is currently under review. Within 48 hours you will receive another email outlining the next steps.

{% endblock %}
